body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #646FD4;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #646FD4;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #9BA3EB;
}

a {
  color: #242F9B;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #DBDFFD;
}

p {
  line-height: 2;
}

hr {
  border: dotted #DBDFFD;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-container {
  background-color: #DBDFFD;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #646FD4;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.vikas {
  height: 200px;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-1 {
  height: 150px;
  float: left;
  margin-right: 30px;
}

.skill-2 {
  height: 150px;
  float: right;
  margin-left: 30px;
}

.contact-message {
  margin: 40px auto 60px;
}

.btn {
  background: #b4b2f0;
  background-image: -webkit-linear-gradient(top, #b4b2f0, #5255eb);
  background-image: -moz-linear-gradient(top, #b4b2f0, #5255eb);
  background-image: -ms-linear-gradient(top, #b4b2f0, #5255eb);
  background-image: -o-linear-gradient(top, #b4b2f0, #5255eb);
  background-image: linear-gradient(to bottom, #b4b2f0, #5255eb);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #9f98f0;
  background-image: -webkit-linear-gradient(top, #9f98f0, #9398f5);
  background-image: -moz-linear-gradient(top, #9f98f0, #9398f5);
  background-image: -ms-linear-gradient(top, #9f98f0, #9398f5);
  background-image: -o-linear-gradient(top, #9f98f0, #9398f5);
  background-image: linear-gradient(to bottom, #9f98f0, #9398f5);
  text-decoration: none;
}

.copyright {
  color: #DBDFFD;
  font-size: 0.75rem;
  padding: 20px 0;
}
